<div class="ui fixed inverted menu">
    <div class="ui container">
        <a class="toc item">
            <i class="sidebar icon"></i> Menu
        </a>
        <!--<a href="#" class="header item">-->
            <!--<img class="logo" src="{{ static_url('image/logo.png') }}">-->
            <!--JDeploy-->
        <!--</a>-->

        {% for menu in menus %}
        <a href="{{ menu.get('url') }}" class="item">{{ menu.get("name") }}</a>
        {% end %}

        <div class="ui simple dropdown item">
            Docker
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="#">Images</a>
                <a class="item" href="#">Link Item</a>
                <div class="divider"></div>
                <div class="header">Header Item</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    Sub Menu
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
                <a class="item" href="#">Link Item</a>
            </div>
        </div>
    </div>
</div>

