<!-- Sidebar Menu -->

<div class="ui sidebar vertical menu accordion left">
    <a href="/" class="active item">Home</a>
    <div class="item">
        <a class="title">
            <i class="dropdown icon"></i>
            name
        </a>
        <div class="content">
            <div class="grouped fields">
                <div class="field">
                    <a data-tab href="/">X-Large</a>
                </div>
                <div class="field">
                    <a data-tab>X-Large</a>
                </div>
                <div class="field">
                    <a data-tab>X-Large</a>
                </div>
            </div>
        </div>
    </div>

    <a class="item">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item">
        <i class="block layout icon"></i>
        Topics
    </a>
    <a class="item">
        <i class="smile icon"></i>
        Friends
    </a>

    <!--<button onclick="$('.ui.modal').modal('show');" class="ui yellow button">添加项目</button>-->
</div>





