{% extends "base.html" %}

{% block title %}home{% end %}

{% block header %}
<style>
</style>
{% end %}

{% block body %}


<div class="ui container">
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
</div>


<div class="ui grid container">
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
</div>

<!--<div class="ui middle aligned six column  grid">-->
<!--<div class="ui six column  grid">-->
<div class="ui cards">
    <div class="column">
        <div class="ui segment">
            <div class="ui cards">
                <div class="card">
                    <div class="ui segment"><a class="ui orange label">Orange</a></div>
                    <div class="ui segment"><a class="ui orange label">Orange</a></div>
                </div>
                <div class="card">
                    <div class="ui segment"><a class="ui orange label">Orange</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search mail...">
                    <i class="search icon"></i>
                </div>
            </div>
            <a class="active teal item">Inbox
                <div class="ui teal left pointing label">1</div>
            </a>
            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>

        </div>
    </div>
    <div class="column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search mail...">
                    <i class="search icon"></i>
                </div>
            </div>
            <a class="active teal item">Inbox
                <div class="ui teal left pointing label">1</div>
            </a>
            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>

        </div>
    </div>
    <div class="column">
        <div class="ui vertical menu">
            <a class="active teal item">Inbox
                <div class="ui teal left pointing label">1</div>
            </a>
            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>

        </div>
    </div>
    <div class="column">
        <div class="ui vertical menu">
            <a class="active teal item">Inbox
                <div class="ui teal left pointing label">1</div>
            </a>
            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="ui vertical menu">
            <a class="active teal item">Inbox
                <div class="ui teal left pointing label">1</div>
            </a>
            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>

            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>

            <a class="item">Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
            <a class="item">Updates
                <div class="ui label">1</div>
            </a>
        </div>
    </div>
</div>


<script>
    $('.ui.sidebar.test1').sidebar('attach events', '.menu .item.test1');
    $('.ui.sidebar.test2').sidebar('attach events', '.menu .item.test2');
</script>

{% end %}

